SUBGRAPH_URL=""
SUBGRAPH_URL_STAKING = ""
DATABASE_URL="" # same URL with API
REDIS_PASSWORD=""
REDIS_PREFIX=""
REDISDB_HOST=
REDISDB_PORT=
IPFS_URL=""
IPFS_PORT=0 # change with your ipfs port
IPFS_PROTOCOL=""
MAX_RETRY=0 # change with your number
DELAY_DURATION= 0 # change with your number
ADMIN_PVK=""
##
MAIL_HOST = ""
MAIL_USER = ""
MAIL_PASSWORD = "" # Password email for app
MAIL_FROM = ""
MAIL_KEY_CONFIRM = "" # Key to hash token confirm mail
MAIL_REDIRECT_URL = "" # URL redirect after confirm email