<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p, h3, h4, h5{
            margin: 7px 0;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <table style="font-family:Helvetica,san-serif;background: #f8f8f8; padding: 30px 20px; background-size: 100% auto;" width="100%">
        <tbody>
            <tr>
                <td>
                    <table align="center" bgcolor="white" cellpadding="0" cellspacing="0" style="margin:30px auto;width:100%;max-width:750px; border-radius: 16px;">
                        <tbody>
                            <tr>
                                <td style="padding: 34px 64px;">
                                    <table width="100%">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="width: 100%; padding: 10px 0;">
                                                    <img src="https://marketplace-api-stg.uniultra.xyz/common/ipfs-serve?ipfsPath=ipfs://ipfs/Qmed4Uqx5bHBC2D62t3f1fFnSciMhY9pbtYSreGUwAbBc1/photo_2024-03-01_13-57-09.jpg" alt="logo" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="font-size: 28px; font-weight: 600; font-style: normal; line-height: 44px; letter-spacing: -1.5px; margin-bottom: 30px;">Confirm your email</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="font-size: 24px; font-weight: 600; line-height: 40px; letter-spacing: -1px; margin-bottom: 40px;">Dear <span style="text-decoration: underline;">{{username}}</span></p>
                                                    <p style="color: #6A6A6A; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.5px;">Please confirm your email address by clicking the button below</p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <a href="{{link}}" target="_blank" style="margin: 0; padding: 0; display: block; background: black; padding: 10px 0; color: #fff; font-size: 14px; text-decoration: none; text-align: center; margin: 14px 64px; border-radius: 12px; width: 300px; font-weight:600">Confirm Now</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="color: #6A6A6A; font-size: 14px; font-style: normal; font-weight: 500; line-height: normal; letter-spacing: -0.5px; margin-top: 35px;">If the button above doesn’s work, you can also click the following link:</p>
                                                    <a href="{{link}}" target="_blank" style="margin: 0; padding: 0; display: block; text-decoration: underline; padding: 10px 0; color: black; font-size: 14px; text-align: center; margin: 14px 64px; border-radius: 12px; width: 30%; font-weight: 600;">Confirmation Link</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center">
                                                    <p style="color: #A4A4A4; font-size: 16px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: -0.2px;">Thanks,</p>
                                                    <p style="color: #A4A4A4; font-size: 16px; font-style: normal; font-weight: 400; line-height: 24px; letter-spacing: -0.2px;">X721 Team</p>
                                                </td>
                                            </tr>
                                        </tr>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>